<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604582039450-d8ot8m33858nniu4vi3dmgaeitf7lujg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604582039450-d8ot8m33858nniu4vi3dmgaeitf7lujg</string>
	<key>API_KEY</key>
	<string>AIzaSyDQgTfR-naBgjfjd8sRWSlzD0Y9xLzEyXg</string>
	<key>GCM_SENDER_ID</key>
	<string>604582039450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ashayotovich.Joule-Power-Training</string>
	<key>PROJECT_ID</key>
	<string>joule-power-training</string>
	<key>STORAGE_BUCKET</key>
	<string>joule-power-training.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604582039450:ios:65b07789f6fd3ba225b423</string>
</dict>
</plist>